@use '../../styles/variables/colors' as color;
@use '../../styles/variables/variables' as size;
@use '../../styles/functions/functions' as *;

.dashboard__nav {
  .dashboard__menu {
    display: flex;
    flex-direction: column;
    gap: rem(42px);
    padding: 0;
    margin: 0;
  }
}
