@use '../../styles/variables/colors' as color;
@use '../../styles/variables/variables' as size;
@use '../../styles/functions/functions' as *;
@use '../../styles/mixins/mixins' as *;

.menu__list_item {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: rem(27px);
}

.menu__list_link {
  font-weight: 500;
  font-size: size.$font-size-18px;
  color: color.$color-light-gray;
  text-decoration: none;
}

@include responsiveForLaptopMiddle(rem(1250px)) {
  .menu__list_link {
    font-size: size.$font-size-16px;
  }

  .sidebar__icon {
    max-width: rem(20px);
    max-height: rem(20px);
  }
}
