@use '../variables/colors' as color;
@use '../functions/functions' as *;

.swiper {
  width: 100%;
  margin: 0 !important;
}

.swiper-wrapper {
  padding-inline-start: rem(10px) !important;
}

.swiper-button-prev {
  display: none;
}

.swiper-button-next {
  border-radius: 100%;
  background: color.$color-natural-white;
  width: rem(40px);
  height: rem(40px);
  box-shadow: 4px 4px 18px -2px color.$color-swiper-button-shadow;
}

.swiper-button-next {
  right: rem(5px);
  &::after {
    display: none;
  }
  &::before {
    content: '';
    display: inline-block;
    width: rem(12px);
    height: rem(12px);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.swiper-button-next::before {
  background-image: url('/images/icons/arrow-right.svg') !important;
}

.swiper-slide {
  width: rem(75px) !important;
  margin-inline-end: rem(38px) !important;
}
