@use '../../styles/variables/colors' as color;
@use '../../styles/variables/variables' as size;
@use '../../styles/functions/functions' as *;
@use '../../styles/mixins/mixins' as *;

.transaction,
.transaction__container {
  width: 100%;
}

.transaction__container {
  display: flex;
  flex-direction: column;
  gap: rem(20px);
}

.transaction__title {
  @include blockTitle;
}

.transaction__block {
  @include blockContainer(rem(234px), rem(25px));
}

.transaction__list {
  display: flex;
  flex-direction: column;
  gap: rem(15px);
  height: 100%;
}

.listItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.listItem__item {
  display: flex;
  flex-direction: column;
  gap: rem(7px);
  width: 100%;
  max-width: rem(170px);
}

.listItem__image {
  object-fit: cover;
}

.listItem__title {
  color: color.$color-dark-black;
  font-size: size.$font-size-16px;
  font-weight: 500;
}

.listItem__subtitle {
  color: color.$color-balance-card;
  font-size: size.$font-size-15px;
  font-weight: 400;
}

.listItem__price {
  display: block;
  color: color.$color-success-price;
  font-size: size.$font-size-16px;
  font-weight: 500;
}

@include responsiveForLaptop(rem(1360px)) {
  .transaction__list {
    justify-content: space-between;
    gap: 0;
    max-height: 100%;
  }
  .listItem__item {
    max-width: rem(250px);
  }
  .listItem {
    gap: rem(15px);
    justify-content: flex-start;
  }
  .listItem__image {
    max-width: rem(40px);
    max-height: rem(40px);
  }
  .listItem__title {
    font-size: size.$font-size-14px;
  }

  .listItem__subtitle {
    font-size: size.$font-size-12px;
  }
  .listItem__price {
    font-size: size.$font-size-14px;
  }
}

@include responsiveForLaptopMiddle(rem(1250px)) {
  .transaction__title {
    font-size: size.$font-size-20px;
  }
}
