@use '../../styles/normalize/normalize';
@use '../../styles/variables/colors' as color;

html,
body {
  width: 100%;
  height: 100%;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  background: color.$color-label-background;
  display: flex;
  min-height: 100%;
}

a:focus {
  outline: none;
}
