$color-accent: #feaa09;
$color-dark: #343c6a;
$color-primary: #2d60ff;
$color-secondary: #fe5c73;
$color-light-gray: #b1b1b1;
$color-border-light: #e6eff5;
$color-page-background: #e5e5e5;
$color-natural-white: #ffffff;
$color-input-placeholder: #8ba3cb;
$color-label-background: #f5f7fa;
$color-linear-background: #4c49ed;
$color-linear-background-second: #0a06f4;
$color-linear-light-gray-background: rgba(255, 255, 255, 0.15);
$color-border-card: #dfeaf2;
$color-balance-card: #718ebf;
$color-dark-black: #232323;
$color-success-price: #41d4a8;
$color-light-green: #16dbcc;
$color-light-pink: #ff82ac;
$color-swiper-button-shadow: rgba(231, 228, 232, 0.8);
$color-input-background: #edf1f7;
$color-button-background: #1814f3;
$color-balance-line:  #dfe5ee;