$color-accent: #feaa09;
$color-dark: #343c6a;
$color-primary: #2d60ff;
$color-secondary: #fe5c73;
$color-light-gray: #b1b1b1;
$color-border-light: #e6eff5;
$color-page-background: #e5e5e5;
$color-natural-white: #ffffff;
$color-input-placeholder: #8ba3cb;
$color-label-background: #f5f7fa;