@use '../functions/functions' as *;

$font-size-5px: rem(5px);
$font-size-6px: rem(6px);
$font-size-7px: rem(7px);
$font-size-8px: rem(8px);
$font-size-9px: rem(9px);
$font-size-10px: rem(10px);
$font-size-11px: rem(11px);
$font-size-12px: rem(12px);
$font-size-13px: rem(13px);
$font-size-14px: rem(14px);
$font-size-15px: rem(15px);
$font-size-16px: rem(16px);
$font-size-17px: rem(17px);
$font-size-18px: rem(18px);
$font-size-19px: rem(19px);
$font-size-20px: rem(20px);
$font-size-21px: rem(21px);
$font-size-22px: rem(22px);
$font-size-23px: rem(23px);
$font-size-24px: rem(24px);
$font-size-25px: rem(25px);
$font-size-26px: rem(26px);
$font-size-27px: rem(27px);
$font-size-28px: rem(28px);
$font-size-29px: rem(29px);
$font-size-30px: rem(30px);
$font-size-31px: rem(31px);
$font-size-32px: rem(32px);
$font-size-33px: rem(33px);
$font-size-34px: rem(34px);
$font-size-35px: rem(35px);
$font-size-36px: rem(36px);
$font-size-37px: rem(37px);
$font-size-38px: rem(38px);
$font-size-39px: rem(39px);
$font-size-40px: rem(40px);
$font-size-41px: rem(41px);
$font-size-42px: rem(42px);
$font-size-43px: rem(43px);
$font-size-44px: rem(44px);
$font-size-45px: rem(45px);
$font-size-46px: rem(46px);
$font-size-47px: rem(47px);
$font-size-48px: rem(48px);
$font-size-49px: rem(49px);
$font-size-50px: rem(50px);
$font-size-51px: rem(51px);
$font-size-52px: rem(52px);
$font-size-53px: rem(53px);
$font-size-54px: rem(54px);
$font-size-55px: rem(55px);
$font-size-56px: rem(56px);
$font-size-57px: rem(57px);
$font-size-58px: rem(58px);
$font-size-59px: rem(59px);
$font-size-60px: rem(60px);
$font-size-61px: rem(61px);
$font-size-62px: rem(62px);
$font-size-63px: rem(63px);
$font-size-64px: rem(64px);
$font-size-65px: rem(65px);
$font-size-66px: rem(66px);
$font-size-67px: rem(67px);
$font-size-68px: rem(68px);
$font-size-69px: rem(69px);
$font-size-70px: rem(70px);
$font-size-71px: rem(71px);
$font-size-72px: rem(72px);
$font-size-73px: rem(73px);
$font-size-74px: rem(74px);
$font-size-75px: rem(75px);
$font-size-76px: rem(76px);
$font-size-77px: rem(77px);
$font-size-78px: rem(78px);
$font-size-79px: rem(79px);
$font-size-80px: rem(80px);
